.categories__container {
    display: flex;
    flex-direction: column;
    padding: 50px 100px 100px 100px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap:wrap;
    margin-top: 1rem;
}

.categories__title {
    text-align: center;
    font-weight: 700;
    font-family: Sans-serif;
    font-size: 48px;
}

.categories__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    

    .categories {
        min-width: 200px;
        gap: 25px;
    }

    .categories__text {
        font-family: var(--font-family);
        font-size: 18px;
    }
    
    .categories__title {
        font-family: 'Frank Ruhl Libre',sans-serif;
        font-weight: 700;
        font-size: 48px;
        color: #111111;
    }

   
}

@media screen and (max-width: 600px) {
    
    .categories {
        height: 700px;
        overflow: scroll;
    }

    .categories__text {
        font-size: 16px;
    }

    .categories__title {
        font-size: 30px;
    }
}